*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  .form-holder{
    margin-top: 80px;
    margin-bottom: 80px;
  }

  body {
    font-family: 'Nunito', sans-serif;
    color: #426e3c;
    background-color: #d6e9ca;
  }
  
  .for {
    width: 500px !important;
    margin: auto ;
    padding: 10px 20px;
    background: #c7e9b0;
    border-radius: 8px;
    box-shadow: 0 0 100px #384047 !important;
  }
  
  h1 {
    margin: 0 0 30px 0;
    text-align: center;
  }
  .itemreg
  {
    border: none;
    font-size: 16px;
    border-radius: 10px;
    height: auto;
    margin: 0;
    outline: 0;
    padding: 15px;
    width: 100%;
    background-color: #d4f3de;
    color: #424649;
    box-shadow: 0 0 10px rgb(70, 95, 68);
    margin-bottom: 30px;
  }
  
  select {
    padding: 6px;
    height: 32px;
    border-radius: 2px;
  }
  
  .button {
    padding: 19px 39px 18px 39px;
    color: #FFF;
    background-color: #40684c;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    border-radius: 5px;
    width: 100%;
    border: 1px solid #3ac162;
    border-width: 1px 1px 3px;
    box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
    margin-bottom: 10px;
  }
  
  fieldset {
    margin-bottom: 30px;
    border: none;
  }
  
  legend {
    font-size: 1.4em;
    margin-bottom: 10px;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
  }
  
  label.light {
    font-weight: 300;
    display: inline;
  }
  
  .number {
    background-color:#424649;
    color: #fff;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 0.8em;
    margin-right: 4px;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 0.3px 0 rgba(255,255,255,0.2);
    border-radius: 100%;
  }
  
  @media screen and (min-width: 480px) {
  
    .for {
      max-width: 480px;
    }
  
  }
  
