<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <link rel="stylesheet" href="css/mergerform.css" />
    
</head>
<body>
    <form class="form">
        <h2 >Bid Request</h2>
        <h3>Product  Required: Avacado</h3>
        <p type="Min Quantity:"><input placeholder=" Add the quantity required...."></input></p>
        <p type="Qouted Price:"><input placeholder=" Add the quantity required...."></input></p>
        <p type="Notes:"><input placeholder="Any notes.."></input></p>
        <button>Send Bid </button>
        
      </form>
</body>
</html>