<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="css/styles.css" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <header>
      <nav
        class="
          navbar navbar-expand-md navbar-dark
          fixed-top
          bg-dark
          justify-content-between
        "
      >
        <a class="navbar-brand" href="#">DigitalDukaanDaar</a>
        <div>
          <form
            class="form-inline justify-content-center"
            style="text-align: center"
          >
            <input
              class="form-control"
              type="text"
              placeholder="Search"
              style="width: 576px; margin-right: 10px"
            />
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
              Search
            </button>
          </form>
        </div>
        <div>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarCollapse"
            aria-controls="navbarCollapse"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="navbarDropdownMenuLink"
                  data-toggle="dropdown"
                >
                  <i class="fa fa-map-marker"></i> 122004
                </a>
                <div
                  class="dropdown-menu"
                  style="padding-top: 0px; padding-bottom: 0px"
                >
                  <form class="form-inline" action="#">
                    <input
                      id="pincode"
                      placeholder="Pincode"
                      name="pincode"
                      type="text"
                    />
                  </form>
                </div>
              </li>

              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="navbarDropdownMenuLink"
                  data-toggle="dropdown"
                >
                  <i class="fa fa-shopping-cart"></i>
                </a>
                <div class="dropdown-menu">
                  <div class="row">
                    <div class="col-sm">
                      <a
                        class="dropdown-item"
                        style="padding-left: 15px; padding-right: 10px"
                        href="#"
                        >Product1</a
                      >
                    </div>
                    <div class="col-sm">
                      <form action="/">
                        <button class="cart-delete" type="submit">
                          <i class="fa fa-trash-o" style="font-size: 20px"></i>
                        </button>
                      </form>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm">
                      <a
                        class="dropdown-item"
                        style="padding-left: 15px; padding-right: 10px"
                        href="#"
                        >Product1</a
                      >
                    </div>
                    <div class="col-sm">
                      <form action="/">
                        <button class="cart-delete" type="submit">
                          <i class="fa fa-trash-o" style="font-size: 20px"></i>
                        </button>
                      </form>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm">
                      <a
                        class="dropdown-item"
                        style="padding-left: 15px; padding-right: 10px"
                        href="#"
                        >Product1</a
                      >
                    </div>
                    <div class="col-sm">
                      <form action="/">
                        <button class="cart-delete" type="submit">
                          <i class="fa fa-trash-o" style="font-size: 20px"></i>
                        </button>
                      </form>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm">
                      <a
                        class="dropdown-item"
                        style="padding-left: 15px; padding-right: 10px"
                        href="#"
                        >Product1</a
                      >
                    </div>
                    <div class="col-sm">
                      <form action="/">
                        <button class="cart-delete" type="submit">
                          <i class="fa fa-trash-o" style="font-size: 20px"></i>
                        </button>
                      </form>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm">
                      <a
                        class="dropdown-item"
                        style="padding-left: 15px; padding-right: 10px"
                        href="#"
                        >Product1</a
                      >
                    </div>
                    <div class="col-sm">
                      <form action="/">
                        <button class="cart-delete" type="submit">
                          <i class="fa fa-trash-o" style="font-size: 20px"></i>
                        </button>
                      </form>
                    </div>
                  </div>
                  <span class="dropdown-item">Total Price: </span>
                </div>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Log in</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>


    

    <div class="category">
        
    </div>
    <div class="welcome-block">
      <div class="row">
        <div class="col"><h1>Welcome to DigitalDukaanDar</h1></div>
        <div class="welcome-img col"><h1>Image</h1></div>
      </div>
    </div>

    <div class="shops">
      <div class="row shopper-carosuel-one">
        <div
          id="carouselExampleControls"
          class="carousel slide"
          data-ride="false"
          data-interval="false"
        >
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="row">
                <div class="col d-flex justify-content-center">
                  <div class="card" style="width: 15rem">
                    <a href="index.html"
                      ><img
                        class="card-img-top"
                        src="https://www.logolynx.com/images/logolynx/63/6382a0278081bd0945fbdc726a875ccf.jpeg"
                        alt="Card image cap"
                    /></a>
                    <hr />
                    <div class="card-body">
                      <h1 class="shop-detail">Shop Local</h1>
                      <p1>
                        Best Store to by Vegetables
                        <br />
                        Location : XYZ
                      </p1>
                    </div>
                  </div>
                </div>
                <div class="col d-flex justify-content-center">
                  <div class="card" style="width: 15rem">
                    <a href="index.html"
                      ><img
                        class="card-img-top"
                        src="https://www.logolynx.com/images/logolynx/63/6382a0278081bd0945fbdc726a875ccf.jpeg"
                        alt="Card image cap"
                    /></a>
                    <hr />
                    <div class="card-body">
                      <h1 class="shop-detail">Shop Local</h1>
                      <p1>
                        Best Store to by Vegetables
                        <br />
                        Location : XYZ
                      </p1>
                    </div>
                  </div>
                </div>
                <div class="col d-flex justify-content-center">
                  <div class="card" style="width: 15rem">
                    <a href="index.html"
                      ><img
                        class="card-img-top"
                        src="https://www.logolynx.com/images/logolynx/63/6382a0278081bd0945fbdc726a875ccf.jpeg"
                        alt="Card image cap"
                    /></a>
                    <hr />
                    <div class="card-body">
                      <h1 class="shop-detail">Shop Local</h1>
                      <p1>
                        Best Store to by Vegetables
                        <br />
                        Location : XYZ
                      </p1>
                    </div>
                  </div>
                </div>
                <!-- <div class="col d-flex justify-content-center">
                  <div class="card" style="width: 15rem">
                    <a href="index.html"
                      ><img
                        class="card-img-top"
                        src="https://www.logolynx.com/images/logolynx/63/6382a0278081bd0945fbdc726a875ccf.jpeg"
                        alt="Card image cap"
                    /></a>
                    <hr />
                    <div class="card-body">
                      <h1 class="shop-detail">Shop Local</h1>
                      <p1>
                        Best Store to by Vegetables
                        <br />
                        Location : XYZ
                      </p1>
                    </div>
                  </div>
                </div> -->
                <div class="col d-flex justify-content-center">
                  <div class="card" style="width: 15rem">
                    <a href="index.html"
                      ><img
                        class="card-img-top"
                        src="https://www.logolynx.com/images/logolynx/63/6382a0278081bd0945fbdc726a875ccf.jpeg"
                        alt="Card image cap"
                    /></a>
                    <hr />
                    <div class="card-body">
                      <h1 class="shop-detail">Shop Local</h1>
                      <p1>
                        Best Store to by Vegetables
                        <br />
                        Location : XYZ
                      </p1>
                    </div>
                  </div>
                </div>
                <div class="col d-flex justify-content-center">
                  <div class="card" style="width: 15rem">
                    <a href="index.html"
                      ><img
                        class="card-img-top"
                        src="https://www.logolynx.com/images/logolynx/63/6382a0278081bd0945fbdc726a875ccf.jpeg"
                        alt="Card image cap"
                    /></a>
                    <hr />
                    <div class="card-body">
                      <h1 class="shop-detail">Shop Local</h1>
                      <p1>
                        Best Store to by Vegetables
                        <br />
                        Location : XYZ
                      </p1>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="row">
                <div class="col d-flex justify-content-center">
                  <div class="card" style="width: 15rem">
                    <a href="index.html"
                      ><img
                        class="card-img-top"
                        src="https://www.logolynx.com/images/logolynx/63/6382a0278081bd0945fbdc726a875ccf.jpeg"
                        alt="Card image cap"
                    /></a>
                    <hr />
                    <div class="card-body">
                      <h1 class="shop-detail">Shop Local</h1>
                      <p1>
                        Best Store to by Vegetables
                        <br />
                        Location : XYZ
                      </p1>
                    </div>
                  </div>
                </div>
                <div class="col d-flex justify-content-center">
                  <div class="card" style="width: 15rem">
                    <a href="index.html"
                      ><img
                        class="card-img-top"
                        src="https://www.logolynx.com/images/logolynx/63/6382a0278081bd0945fbdc726a875ccf.jpeg"
                        alt="Card image cap"
                    /></a>
                    <hr />
                    <div class="card-body">
                      <h1 class="shop-detail">Shop Local</h1>
                      <p1>
                        Best Store to by Vegetables
                        <br />
                        Location : XYZ
                      </p1>
                    </div>
                  </div>
                </div>
                <div class="col d-flex justify-content-center">
                  <div class="card" style="width: 15rem">
                    <a href="index.html"
                      ><img
                        class="card-img-top"
                        src="https://www.logolynx.com/images/logolynx/63/6382a0278081bd0945fbdc726a875ccf.jpeg"
                        alt="Card image cap"
                    /></a>
                    <hr />
                    <div class="card-body">
                      <h1 class="shop-detail">Shop Local</h1>
                      <p1>
                        Best Store to by Vegetables
                        <br />
                        Location : XYZ
                      </p1>
                    </div>
                  </div>
                </div>
                <div class="col d-flex justify-content-center">
                  <div class="card" style="width: 15rem">
                    <a href="index.html"
                      ><img
                        class="card-img-top"
                        src="https://www.logolynx.com/images/logolynx/63/6382a0278081bd0945fbdc726a875ccf.jpeg"
                        alt="Card image cap"
                    /></a>
                    <hr />
                    <div class="card-body">
                      <h1 class="shop-detail">Shop Local</h1>
                      <p1>
                        Best Store to by Vegetables
                        <br />
                        Location : XYZ
                      </p1>
                    </div>
                  </div>
                </div>
                <div class="col d-flex justify-content-center">
                  <div class="card" style="width: 15rem">
                    <a href="index.html"
                      ><img
                        class="card-img-top"
                        src="https://www.logolynx.com/images/logolynx/63/6382a0278081bd0945fbdc726a875ccf.jpeg"
                        alt="Card image cap"
                    /></a>
                    <hr />
                    <div class="card-body">
                      <h1 class="shop-detail">Shop Local</h1>
                      <p1>
                        Best Store to by Vegetables
                        <br />
                        Location : XYZ
                      </p1>
                    </div>
                  </div>
                </div>
                <div class="col d-flex justify-content-center">
                  <div class="card" style="width: 15rem">
                    <a href="index.html"
                      ><img
                        class="card-img-top"
                        src="https://www.logolynx.com/images/logolynx/63/6382a0278081bd0945fbdc726a875ccf.jpeg"
                        alt="Card image cap"
                    /></a>
                    <hr />
                    <div class="card-body">
                      <h1 class="shop-detail">Shop Local</h1>
                      <p1>
                        Best Store to by Vegetables
                        <br />
                        Location : XYZ
                      </p1>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="row">
                <div class="col d-flex justify-content-center">
                  <div class="card" style="width: 15rem">
                    <a href="index.html"
                      ><img
                        class="card-img-top"
                        src="https://www.logolynx.com/images/logolynx/63/6382a0278081bd0945fbdc726a875ccf.jpeg"
                        alt="Card image cap"
                    /></a>
                    <hr />
                    <div class="card-body">
                      <h1 class="shop-detail">Shop Local</h1>
                      <p1>
                        Best Store to by Vegetables
                        <br />
                        Location : XYZ
                      </p1>
                    </div>
                  </div>
                </div>
                <div class="col d-flex justify-content-center">
                  <div class="card" style="width: 15rem">
                    <a href="index.html"
                      ><img
                        class="card-img-top"
                        src="https://www.logolynx.com/images/logolynx/63/6382a0278081bd0945fbdc726a875ccf.jpeg"
                        alt="Card image cap"
                    /></a>
                    <hr />
                    <div class="card-body">
                      <h1 class="shop-detail">Shop Local</h1>
                      <p1>
                        Best Store to by Vegetables
                        <br />
                        Location : XYZ
                      </p1>
                    </div>
                  </div>
                </div>
                <div class="col d-flex justify-content-center">
                  <div class="card" style="width: 15rem">
                    <a href="index.html"
                      ><img
                        class="card-img-top"
                        src="https://www.logolynx.com/images/logolynx/63/6382a0278081bd0945fbdc726a875ccf.jpeg"
                        alt="Card image cap"
                    /></a>
                    <hr />
                    <div class="card-body">
                      <h1 class="shop-detail">Shop Local</h1>
                      <p1>
                        Best Store to by Vegetables
                        <br />
                        Location : XYZ
                      </p1>
                    </div>
                  </div>
                </div>
                <div class="col d-flex justify-content-center">
                  <div class="card" style="width: 15rem">
                    <a href="index.html"
                      ><img
                        class="card-img-top"
                        src="https://www.logolynx.com/images/logolynx/63/6382a0278081bd0945fbdc726a875ccf.jpeg"
                        alt="Card image cap"
                    /></a>
                    <hr />
                    <div class="card-body">
                      <h1 class="shop-detail">Shop Local</h1>
                      <p1>
                        Best Store to by Vegetables
                        <br />
                        Location : XYZ
                      </p1>
                    </div>
                  </div>
                </div>
                <div class="col d-flex justify-content-center">
                  <div class="card" style="width: 15rem">
                    <a href="index.html"
                      ><img
                        class="card-img-top"
                        src="https://www.logolynx.com/images/logolynx/63/6382a0278081bd0945fbdc726a875ccf.jpeg"
                        alt="Card image cap"
                    /></a>
                    <hr />
                    <div class="card-body">
                      <h1 class="shop-detail">Shop Local</h1>
                      <p1>
                        Best Store to by Vegetables
                        <br />
                        Location : XYZ
                      </p1>
                    </div>
                  </div>
                </div>
                <div class="col d-flex justify-content-center">
                  <div class="card" style="width: 15rem">
                    <a href="index.html"
                      ><img
                        class="card-img-top"
                        src="https://www.logolynx.com/images/logolynx/63/6382a0278081bd0945fbdc726a875ccf.jpeg"
                        alt="Card image cap"
                    /></a>
                    <hr />
                    <div class="card-body">
                      <h1 class="shop-detail">Shop Local</h1>
                      <p1>
                        Best Store to by Vegetables
                        <br />
                        Location : XYZ
                      </p1>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <a
            class="carousel-control-prev"
            href="#carouselExampleControls"
            role="button"
            data-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a
            class="carousel-control-next"
            href="#carouselExampleControls"
            role="button"
            data-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
  </body>
</html>
