{% extends 'layout.html' %}
{% load static %}
{% block specific_styles %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.4/tailwind.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    
{% endblock specific_styles %}

{% block content %}
<div class="page-container">
    <h1 style="font-size: xx-large; font-weight: bolder;">Merger Status 📈</h1>
    <section class="jobList">
       
        <!--Inprocess Mergers-->
      <article
        class="
          bg-white
          rounded-lg
          p-4
          relative
          m-2
          cursor-pointer
          transform
          duration-500
          hover:-translate-y-2.5
        "
      >
        <h1 class="font-bold text-lg text-primary mb-1">Avacado Merger</h1>

        <div class="absolute -top-2.5 -right-1.5">
          <span
            class="bg-yellow-500 text-white py-1 px-2 text-sm rounded uppercase"
            >IN PROCCES</span
          >
        </div>
     <!--Merger Information put-->
        <div class="flex items-center text-gray-400 font-light mb-4">
          <small> 13 Retailers Applied</small>
          <i class="fas fa-circle icon-divider mx-2"></i>
          <small>July 7, 2021</small>
          <i class="fas fa-circle icon-divider mx-2"></i>
          <small href="#"> Created by <a> Manahor M Pai</a></small>
        </div>
           
        <address class="not-italic items-center text-gray-400 font-light mb-4">
          <ul>
              <!--Put top 2/3 bids-->
            <li>
                $ 1000 by <a href="#"> Saban</a> 📍 Makhani Road, Delhi ✅
                <bold>Verfied</bold>
              </li>
            <li>
              $ 1000 by <a href="#"> Baban</a> 📍 Makhani Road, Delhi ✅
              <bold>Verfied</bold>
            </li>
          </ul>
        </address>
      </article>

      <!--Merger for completed items-->

      <article
        class="
          bg-white
          rounded-lg
          p-4
          relative
          m-2
          cursor-pointer
          transform
          duration-500
          hover:-translate-y-2.5
        "
      >
        <h1 class="font-bold text-lg text-primary mb-1">
          Wheat Merger
        </h1>

        <div class="absolute -top-2.5 -right-1.5">
          <span
            class="bg-blue-500 text-white py-1 px-2 text-sm rounded uppercase"
            >Completed</span
          >
        </div>
        <div class="flex items-center text-gray-400 font-light mb-4">
          <small> 13 Retailers Applied</small>
          <i class="fas fa-circle icon-divider mx-2"></i>
          <small>July 7, 2021</small>
          <i class="fas fa-circle icon-divider mx-2"></i>
          <small href="#"> Created by <a> Manahor M Pai</a></small>
        </div>

        <address class="not-italic items-center text-gray-400 font-light mb-4">
          <ul>
            <li>$ 1000 by <a href="#"> Baban</a></li>
            <li>
              $ 1000 by <a href="#"> Baban</a> 📍 Makhani Road, Delhi ✅
              <bold>Verfied</bold>
            </li>
          </ul>
        </address>
      </article>
      <article
      class="
        bg-white
        rounded-lg
        p-4
        relative
        m-2
        cursor-pointer
        transform
        duration-500
        hover:-translate-y-2.5
      "
    >
      <h1 class="font-bold text-lg text-primary mb-1">
        Wheat Merger
      </h1>

      <div class="absolute -top-2.5 -right-1.5">
        <span
          class="bg-blue-500 text-white py-1 px-2 text-sm rounded uppercase"
          >Completed</span
        >
      </div>
      <div class="flex items-center text-gray-400 font-light mb-4">
        <small> 13 Retailers Applied</small>
        <i class="fas fa-circle icon-divider mx-2"></i>
        <small>July 7, 2021</small>
        <i class="fas fa-circle icon-divider mx-2"></i>
        <small href="#"> Created by <a> Manahor M Pai</a></small>
      </div>

      <address class="not-italic items-center text-gray-400 font-light mb-4">
        <ul>
          <li>$ 1000 by <a href="#"> Baban</a></li>
          <li>
            $ 1000 by <a href="#"> Baban</a> 📍 Makhani Road, Delhi ✅
            <bold>Verfied</bold>
          </li>
        </ul>
      </address>
    </article>
    <article
    class="
      bg-white
      rounded-lg
      p-4
      relative
      m-2
      cursor-pointer
      transform
      duration-500
      hover:-translate-y-2.5
    "
  >
    <h1 class="font-bold text-lg text-primary mb-1">
      Wheat Merger
    </h1>

    <div class="absolute -top-2.5 -right-1.5">
      <span
        class="bg-blue-500 text-white py-1 px-2 text-sm rounded uppercase"
        >Completed</span
      >
    </div>
    <div class="flex items-center text-gray-400 font-light mb-4">
      <small> 13 Retailers Applied</small>
      <i class="fas fa-circle icon-divider mx-2"></i>
      <small>July 7, 2021</small>
      <i class="fas fa-circle icon-divider mx-2"></i>
      <small href="#"> Created by <a> Manahor M Pai</a></small>
    </div>

    <address class="not-italic items-center text-gray-400 font-light mb-4">
      <ul>
        <li>$ 1000 by <a href="#"> Baban</a></li>
        <li>
          $ 1000 by <a href="#"> Baban</a> 📍 Makhani Road, Delhi ✅
          <bold>Verfied</bold>
        </li>
      </ul>
    </address>
  </article>
  <article
  class="
    bg-white
    rounded-lg
    p-4
    relative
    m-2
    cursor-pointer
    transform
    duration-500
    hover:-translate-y-2.5
  "
>
  <h1 class="font-bold text-lg text-primary mb-1">
    Wheat Merger
  </h1>

  <div class="absolute -top-2.5 -right-1.5">
    <span
      class="bg-blue-500 text-white py-1 px-2 text-sm rounded uppercase"
      >Completed</span
    >
  </div>
  <div class="flex items-center text-gray-400 font-light mb-4">
    <small> 13 Retailers Applied</small>
    <i class="fas fa-circle icon-divider mx-2"></i>
    <small>July 7, 2021</small>
    <i class="fas fa-circle icon-divider mx-2"></i>
    <small href="#"> Created by <a> Manahor M Pai</a></small>
  </div>

  <address class="not-italic items-center text-gray-400 font-light mb-4">
    <ul>
      <li>$ 1000 by <a href="#"> Baban</a></li>
      <li>
        $ 1000 by <a href="#"> Baban</a> 📍 Makhani Road, Delhi ✅
        <bold>Verfied</bold>
      </li>
    </ul>
  </address>
</article>
<article
class="
  bg-white
  rounded-lg
  p-4
  relative
  m-2
  cursor-pointer
  transform
  duration-500
  hover:-translate-y-2.5
"
>
<h1 class="font-bold text-lg text-primary mb-1">
  Wheat Merger
</h1>

<div class="absolute -top-2.5 -right-1.5">
  <span
    class="bg-blue-500 text-white py-1 px-2 text-sm rounded uppercase"
    >Completed</span
  >
</div>
<div class="flex items-center text-gray-400 font-light mb-4">
  <small> 13 Retailers Applied</small>
  <i class="fas fa-circle icon-divider mx-2"></i>
  <small>July 7, 2021</small>
  <i class="fas fa-circle icon-divider mx-2"></i>
  <small href="#"> Created by <a> Manahor M Pai</a></small>
</div>

<address class="not-italic items-center text-gray-400 font-light mb-4">
  <ul>
    <li>$ 1000 by <a href="#"> Baban</a></li>
    <li>
      $ 1000 by <a href="#"> Baban</a> 📍 Makhani Road, Delhi ✅
      <bold>Verfied</bold>
    </li>
  </ul>
</address>
</article>
<article
class="
  bg-white
  rounded-lg
  p-4
  relative
  m-2
  cursor-pointer
  transform
  duration-500
  hover:-translate-y-2.5
"
>
<h1 class="font-bold text-lg text-primary mb-1">
  Wheat Merger
</h1>

<div class="absolute -top-2.5 -right-1.5">
  <span
    class="bg-blue-500 text-white py-1 px-2 text-sm rounded uppercase"
    >Completed</span
  >
</div>
<div class="flex items-center text-gray-400 font-light mb-4">
  <small> 13 Retailers Applied</small>
  <i class="fas fa-circle icon-divider mx-2"></i>
  <small>July 7, 2021</small>
  <i class="fas fa-circle icon-divider mx-2"></i>
  <small href="#"> Created by <a> Manahor M Pai</a></small>
</div>

<address class="not-italic items-center text-gray-400 font-light mb-4">
  <ul>
    <li>$ 1000 by <a href="#"> Baban</a></li>
    <li>
      $ 1000 by <a href="#"> Baban</a> 📍 Makhani Road, Delhi ✅
      <bold>Verfied</bold>
    </li>
  </ul>
</address>
</article>
<article
class="
  bg-white
  rounded-lg
  p-4
  relative
  m-2
  cursor-pointer
  transform
  duration-500
  hover:-translate-y-2.5
"
>
<h1 class="font-bold text-lg text-primary mb-1">
  Wheat Merger
</h1>

<div class="absolute -top-2.5 -right-1.5">
  <span
    class="bg-blue-500 text-white py-1 px-2 text-sm rounded uppercase"
    >Completed</span
  >
</div>
<div class="flex items-center text-gray-400 font-light mb-4">
  <small> 13 Retailers Applied</small>
  <i class="fas fa-circle icon-divider mx-2"></i>
  <small>July 7, 2021</small>
  <i class="fas fa-circle icon-divider mx-2"></i>
  <small href="#"> Created by <a> Manahor M Pai</a></small>
</div>

<address class="not-italic items-center text-gray-400 font-light mb-4">
  <ul>
    <li>$ 1000 by <a href="#"> Baban</a></li>
    <li>
      $ 1000 by <a href="#"> Baban</a> 📍 Makhani Road, Delhi ✅
      <bold>Verfied</bold>
    </li>
  </ul>
</address>
</article>
    </section>
</div>
{% endblock content%}

