{% extends 'layout.html' %}
{% load static %}
{% block specific_styles %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://codepen.io/gymratpacks/pen/VKzBEp#0">
        <link href='https://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
        <!-- <link rel="stylesheet" href="{% static 'Retailer/retailform.css' %}"> -->
        <link rel="stylesheet" href="{% static '/Retailer/retailform.css' %}">
{% endblock specific_styles %}

{% block content %}
<div class="form-holder">
<div class="row">
  <div class="col-md-12">
    <form action="/retailer/create_items/" method="POST" class="for">
      {% csrf_token %}
      <h1> Sell A New Product </h1>
      
      <fieldset>
        <legend><span class="number">1</span> Product Info </legend>
        <label for="Product">Product Name:</label>

        <input type="text" id="Product" name="prodName" class="itemreg">

          
        <label for="Prod_desc">Product Description:</label>
        <textarea id="Prod_desc" name="prodDesc" class="itemreg"></textarea>
      
        <label for="Price">Price:</label>
        <input type="number" id="Price" class="itemreg" name="prodPrice">
      
        
      
     
        <label for="Pro_photo">Add a photo of the product to display:</label>
        <input type="file" id="Pro_photo" name="prodImg" class="itemreg" accept="image/*">

      </fieldset>
      <fieldset>  
      
        <legend><span class="number">2</span> Details </legend>      
     
      
       <label for="Catergory">Category:</label>
        <select type="option" id="Category" name="prodCategory" class="itemreg" >
            <option value="Dairy Product">Dairy Product</option>
            <option value="Fruits">Fruits</option>
            <option value="Vegetables">Vegetables</option>
            <option value="Sauces">Sauces</option>
            <option value="Spices">Spices</option>
            <option value="Pulces">Pulces</option>
        </select>

        <label for="Type">Type:</label>
        <select type="option" id="Type" name="prodType" class="itemreg">
            <option value="Packaged">Packaged</option>
            <option value="Loose">Loose</option>
        </select>

        
        <label for="Quantity">Quantity:</label>
        <input type="number" id="Quantity" name="prodQuatity" class="itemreg">
       </fieldset>
     
      <button type="submit" class="button">Register Product</button>

      {% if messages %}
        {% for message in messages %}
            {% if message.extra_tags == "NETWORK_ERROR" %}
                <p style = "color: #B33A3A; font-weight: bold;">{{message}}</p>

            {% elif message.extra_tags == "INSUFFICIENT_DATA_PRODUCT" %}      
                <p style = "color: #B33A3A; font-weight: bold;">{{message}}</p>        
            {% endif %}

        {% endfor %}
    {% endif %}
      
     </form>
      </div>
</div>
</div>
{% endblock content %}


